@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  @font-face {
    font-family: Kalam;
    src: url('../public/fonts/Kalam/Kalam-Bold.ttf') format("woff");
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
}

.mainPanel {
  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9399a2;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent
  }

  ::-webkit-scrollbar-horizontal {
    height: 4px;
  }
}

@media (max-width: 639px) {
  .mainPanel {
    ::-webkit-scrollbar {
      width: 1px;
    }
  }
}

.mySwiper1 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

details summary::-webkit-details-marker,
details summary::marker {
 display: none; 
 content: "";
}

.textStyle {
  background-image: url("./img/pexels-pixabay-209831.jpg");
  -webkit-background-clip: text;
  color: transparent;
}

.bn632-hover {
  padding: 4px 12px;
  color: #eaecef;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 16px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 2px 8px 0 rgba(65, 132, 234, 0.75);
}
